<!-- build:replace <script type="text/javascript" src="/js/plugins.min.js"></script> -->
<script type="text/javascript" src="{{ "/js/concat/rem.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/concat/imgLiquid-min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/concat/covervid.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/concat/jquery.parallax.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/concat/jquery.scrollstop.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/concat/jquery.keyframes.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/concat/jquery.waypoints.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/concat/imagesloaded.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/concat/isotope.pkgd.min.js" | prepend: site.baseurl }}"></script>
<!-- /build -->

<!-- build:js /js/main.min.js -->
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<!-- /build -->