<nav id="main-menu">
  <div class="close-menu-wrap max-1200">
    <a href="#" id="close-menu-link" class="lowercase js-menu-trigger">
      <i class="icon icon-close"></i>
      <span>close</span>
    </a>
  </div>
  <div id="menu-inner" class="faux-table">
    <div class="faux-table-cell">
      <ul id="menu-list" class="lowercase fancy-pants-font">
      {% assign pages = site.pages | sort: "menuorder" %}
      {% for p in pages %}
        {% if p.menutitle %}
        <li><a href="{{ p.url | prepend: site.baseurl }}" class="touch menu-link{% if p.url == page.url %} active{% endif %}">{{ p.menutitle }}</a></li>
        {% endif %}
        {% if p.menutitle == "Careers"%}
          <li><a href="http://suite.as" class="touch menu-link">Blog</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</nav>
