<div class="other-case-studies max-760">

  {% if page.casestudyid != 10 %}
    <div class="case-study-item clearfix">
      <a href="{{ "/case-studies/data-govt-nz" | prepend: site.baseurl }}" class="item-image">
        <img src="{{ "/img/case-studies/cs-item-data-govt-nz.jpg" | prepend: site.baseurl }}" alt="" class="jiggle" />
      </a>
      <div class="item-text">
        <div class="item-text-head">
          <h2 class="item-main-heading"><a class="text-sheen" href="{{ "/case-studies/data-govt-nz" | prepend: site.baseurl }}">data.govt.nz</a></h2>
          <h3 class="item-sub-heading"><a href="{{ "/case-studies/data-govt-nz" | prepend: site.baseurl }}">StatsNZ and The Department of Internal Affairs</a></h3><br>
          <a href="{{ "/case-studies/data-govt-nz" | prepend: site.baseurl }}" class="drop-btn orange-bg small-btn">More on this&hellip;</a>
        </div>
      </div>
    </div>
  {% endif %}

  {% if page.casestudyid != 6 %}
  <div class="case-study-item clearfix">
    <a href="{{ "/case-studies/resource-consenting" | prepend: site.baseurl }}" class="item-image">
      <img src="{{ "/img/case-studies/cs-item-resource-consenting.png" | prepend: site.baseurl }}" alt="" class="jiggle" />
    </a>
    <div class="item-text">
      <div class="item-text-head">
        <h2 class="item-main-heading"><a class="text-sheen" href="{{ "/case-studies/resource-consenting" | prepend: site.baseurl }}">Resource Consenting</a></h2>
        <h3 class="item-sub-heading"><a href="{{ "/case-studies/resource-consenting" | prepend: site.baseurl }}">Marlborough District Council</a></h3><br>
        <a href="{{ "/case-studies/resource-consenting" | prepend: site.baseurl }}" class="drop-btn orange-bg small-btn">More on this&hellip;</a>
      </div>
    </div> <!--.item-text -->
  </div>  <!-- .case-study-item -->
  {% endif %}

  {% if page.casestudyid != 7 %}
  <div class="case-study-item clearfix">
    <a href="{{ "/case-studies/myworksites" | prepend: site.baseurl }}" class="item-image">
      <img src="{{ "/img/case-studies/cs-item-myworksites.jpg" | prepend: site.baseurl }}" alt="" class="jiggle" />
    </a>
    <div class="item-text">
      <div class="item-text-head">
        <h2 class="item-main-heading"><a class="text-sheen" href="{{ "/case-studies/myworksites" | prepend: site.baseurl }}">MyWorksites</a></h2>
        <h3 class="item-sub-heading"><a href="{{ "/case-studies/myworksites" | prepend: site.baseurl }}">NZ Road Controlling Authorities</a></h3><br>
        <a href="{{ "/case-studies/myworksites" | prepend: site.baseurl }}" class="drop-btn orange-bg small-btn">More on this&hellip;</a>
      </div>
    </div> <!-- .item-text -->
  </div> <!-- .case-study-item -->
  {% endif %}

  {% if page.casestudyid != 5 %}
  <div class="case-study-item clearfix">
    <a href="{{ "/case-studies/ewater" | prepend: site.baseurl }}" class="item-image">
      <img src="{{ "/img/case-studies/cs-item-ewater.png" | prepend: site.baseurl }}" alt="" class="jiggle" />
    </a>
    <div class="item-text">
      <div class="item-text-head">
        <h2 class="item-main-heading"><a class="text-sheen" href="{{ "/case-studies/ewater" | prepend: site.baseurl }}">eWater</a></h2>
        <h3 class="item-sub-heading"><a href="{{ "/case-studies/ewater" | prepend: site.baseurl }}">Marlborough District Council</a></h3><br>
        <a href="{{ "/case-studies/ewater" | prepend: site.baseurl }}" class="drop-btn orange-bg small-btn">More on this&hellip;</a>
      </div>
    </div> <!--.item-text -->
  </div>  <!-- .case-study-item -->
  {% endif %}

  {% if page.casestudyid != 0 %}
  <div class="case-study-item clearfix">
    <a href="{{ "/case-studies/marlborough-cruise-guide" | prepend: site.baseurl }}" class="item-image">
      <img src="{{ "/img/case-studies/cs-item-cruise-guide.jpg" | prepend: site.baseurl }}" alt="" class="jiggle" />
    </a>
    <div class="item-text">
      <div class="item-text-head">
        <h2 class="item-main-heading"><a class="text-sheen" href="{{ "/case-studies/marlborough-cruise-guide" | prepend: site.baseurl }}">Cruise Guide</a></h2>
        <h3 class="item-sub-heading"><a href="{{ "/case-studies/marlborough-cruise-guide" | prepend: site.baseurl }}">Marlborough District Council</a></h3><br>
        <a href="{{ "/case-studies/marlborough-cruise-guide" | prepend: site.baseurl }}" class="drop-btn orange-bg small-btn">More on this&hellip;</a>
      </div>
    </div> <!-- .item-text -->
  </div> <!-- .case-study-item -->
  {% endif %}

  {% if page.casestudyid != 9 %}
  <div class="case-study-item clearfix">
    <a href="{{ "/case-studies/journeys" | prepend: site.baseurl }}" class="item-image">
      <img src="{{ "/img/case-studies/cs-item-transport-for-christchurch.png" | prepend: site.baseurl }}" alt="" class="jiggle" />
    </a>
    <div class="item-text">
      <div class="item-text-head">
        <h2 class="item-main-heading"><a class="text-sheen" href="{{ "/case-studies/journeys" | prepend: site.baseurl }}">Journeys</a></h2>
        <h3 class="item-sub-heading"><a href="{{ "/case-studies/journeys" | prepend: site.baseurl }}">NZ Transport Agency</a></h3><br>
        <a href="{{ "/case-studies/journeys" | prepend: site.baseurl }}" class="drop-btn orange-bg small-btn">More on this&hellip;</a>
      </div>
    </div> <!-- .item-text -->
  </div> <!-- .case-study-item -->
  {% endif %}

  {% if page.casestudyid != 2 %}
  <div class="case-study-item clearfix">
    <a href="{{ "/case-studies/forward-works-viewer" | prepend: site.baseurl }}" class="item-image">
      <img src="{{ "/img/case-studies/cs-item-forward-works-planner.png" | prepend: site.baseurl }}" alt="" class="jiggle" />
    </a>
    <div class="item-text">
      <div class="item-text-head">
        <h2 class="item-main-heading"><a class="text-sheen" href="{{ "/case-studies/forward-works-viewer" | prepend: site.baseurl }}">Forward Works Viewer</a></h2>
        <h3 class="item-sub-heading"><a href="{{ "/case-studies/forward-works-viewer" | prepend: site.baseurl }}">Land Information New Zealand</a></h3><br>
        <a href="{{ "/case-studies/forward-works-viewer" | prepend: site.baseurl }}" class="drop-btn orange-bg small-btn">More on this&hellip;</a>
      </div>
    </div> <!-- .item-text -->
  </div> <!-- .case-study-item -->
  {% endif %}

  {% if page.casestudyid != 3 %}
  <div class="case-study-item clearfix">
    <a href="{{ "/case-studies/appraisal-connector" | prepend: site.baseurl }}" class="item-image">
      <img src="{{ "/img/case-studies/cs-item-appraisal-connector.png" | prepend: site.baseurl }}" alt="" class="jiggle" />
    </a>
    <div class="item-text">
      <div class="item-text-head">
        <h2 class="item-main-heading"><a class="text-sheen" href="{{ "/case-studies/appraisal-connector" | prepend: site.baseurl }}">Appraisal Connector</a></h2>
        <h3 class="item-sub-heading"><a href="{{ "/case-studies/appraisal-connector" | prepend: site.baseurl }}">Interlead Consultants</a></h3><br>
        <a href="{{ "/case-studies/appraisal-connector" | prepend: site.baseurl }}" class="drop-btn orange-bg small-btn">More on this&hellip;</a>
      </div>
    </div> <!-- .item-text -->
  </div> <!-- .case-study-item -->
  {% endif %}

</div>
