---
layout: default
title: Case Studies | Appraisal Connector
casestudyname: Appraisal Connector
casestudyid: 3
---
<div id="main-wrap" class="internal-page case-study">

  <div class="max-1200 align-center clearfix">
    <h1 class="lowercase underline-orange">Appraisal Connector</h1>
    {% include crumbs.html %}
    <div class="case-study-intro max-1000">
      <p>Interlead chose Media Suite to develop the software behind Appraisal Connector&trade; - its online appraisal system designed to enhance the professional learning of New Zealand teachers.</p>
    </div>

    <div class="case-study-icons">
      <div class="case-study-tech">
        <span class="tech-icon tech-icon-js"><img src="{{ "/img/case-studies/tech-js.png" | prepend: site.baseurl }}" alt="" /></span>
        <span class="tech-icon tech-icon-html"><img src="{{ "/img/case-studies/tech-html-css.png" | prepend: site.baseurl }}" alt="" /></span>
        <span class="tech-icon tech-icon-yii"><img src="{{ "/img/case-studies/tech-yii.png" | prepend: site.baseurl }}" alt="" /></span>
      </div>
      <div class="case-study-platforms">
        <i class="icon icon-desktop tip"></i>
      </div>
    </div>

    <img src="{{ "/img/case-studies/interlead-1.jpg" | prepend: site.baseurl }}" alt="" class="case-study-image image-max-100 space-below-please" />

    <div class="max-1000 align-left space-below-please">
      <h2 class="lowercase">The Problem</h2>
      <p>After years of educational research and following guidelines established by the New Zealand Ministry of Education, InterLEAD consultants developed the philosophy and ideas behind the Appraisal Connector&trade;.</p>
      <p class="space-below-please">Media Suite were able to capture that philosophy and develop an intuitive web interface that streamlines the review process, allowing teachers and schools to focus on continued professional development.</p>

      <img src="{{ "/img/case-studies/interlead-2.jpg" | prepend: site.baseurl }}" alt="" class="case-study-image image-max-100 space-below-please" />

      <h2 class="lowercase">Core Features</h2>
      <p class="space-below-please">
        Appraisal Scheduling<br/>
        Professional Journals &amp; Goal Setting<br/>
        A Student Feedback Portal<br/>
        Individual Reporting<br/>
        School Wide Reporting
      </p>

      <p>The initial ‘bootstrap’ system was built very rapidly over a couple of months and used to cost effectively test the market. Features and users were rapidly added over the first year of operation. Now after three years of continuous development (including a near complete rebuild) Appraisal Connector™ offers a compelling set of features.</p>
      <p>In 2014 we have added a new companion product called Leadership Reflector&trade; - focusing on the feedback of leaders.</p>
      <p>If you have any questions about this project please contact George Wills on 021 606462.</p>
    </div>

    {% include other-case-studies.html %}

  </div> <!-- .max-1200 -->

</div> <!-- #main-wrap -->
