{% include menu.html %}

<header id="page-header"{% if(page.menutitle != 'Home') %} class="on"{% else %} class="mob-hide"{% endif %}>
  <div id="hd-inner" class="max-1200">
    <a href="{{ "/" | prepend: site.baseurl }}" id="menu-bar-logo">
      <img src="{{ "/img/logo.svg" | prepend: site.baseurl }}" alt="Media Suite Logo" class="menu-logo">
    </a>
    <a href="#" id="menu-bar-trigger" class="lowercase js-menu-trigger">
      <i class="trigger-icon icon icon-menu"></i>
      <span class="menu-trigger-text">Menu</span>
    </a>
  </div>
</header>
