{% include menu.html %}

<header id="page-header">
  <div id="hd-inner" class="max-1200">
    <a href="{{ "/" | prepend: site.baseurl }}" id="menu-bar-logo">
      <object type="image/svg+xml" data="{{ "/img/logo.svg" | prepend: site.baseurl }}" class="menu-logo">
        Media Suite Logo <!-- fallback image in CSS -->
      </object>
      <span class="lowercase">Media Suite</span>
    </a>
    <a href="#" id="menu-bar-trigger" class="lowercase js-menu-trigger">
      <i class="trigger-icon icon icon-menu"></i>
      <span class="menu-trigger-text">Menu</span>
    </a>
  </div>
</header>
