---
layout: default
title: Case Studies | Cruise Guide
casestudyname: Cruise Guide
casestudyid: 0
image: /img/case-studies/cruise-guide-1.jpg
excerpt: Cruise Guide is the perfect FREE sailing companion for exploring the Marlborough Sounds.
---
<div id="main-wrap" class="internal-page case-study">

  <div class="max-1200 align-center clearfix">
    <h1 class="lowercase underline-orange">Cruise Guide</h1>
    {% include crumbs.html %}
    <div class="case-study-intro max-1000">
      <p>Cruise Guide is the perfect FREE sailing companion for exploring the Marlborough Sounds.</p>
    </div>

    <div class="case-study-icons">
      <div class="case-study-tech">
        <span title="iOS" class="tech-icon tech-icon-ios"><img src="{{ "/img/case-studies/tech-ios.png" | prepend: site.baseurl }}" alt="iOS" /></span>
        <span title="Android" class="tech-icon tech-icon-android"><img src="{{ "/img/case-studies/tech-android.png" | prepend: site.baseurl }}" alt="Android" /></span>
        <span title="Ember" class="tech-icon tech-icon-ember"><img src="{{ "/img/case-studies/tech-ember.png" | prepend: site.baseurl }}" alt="Ember" /></span>
        <span title="Leaflet" class="tech-icon tech-icon-leaflet"><img src="{{ "/img/case-studies/tech-leaflet.png" | prepend: site.baseurl }}" alt="Leaflet" /></span>
        <span title="SilverStripe" class="tech-icon tech-icon-silverstripe"><img src="{{ "/img/case-studies/tech-silverstripe.png" | prepend: site.baseurl }}" alt="SilverStripe" /></span>
        <span title="PhoneGap" class="tech-icon tech-icon-phone-gap"><img src="{{ "/img/case-studies/tech-phone-gap.png" | prepend: site.baseurl }}" alt="PhoneGap" /></span>
      </div>
      <div class="case-study-platforms">
        <i class="icon icon-mobile tip"></i>
        <i class="icon icon-desktop tip"></i>
        <i class="icon icon-cog tip"></i>
      </div>
    </div>

    <img src="{{ "/img/case-studies/cruise-guide-1.jpg" | prepend: site.baseurl }}" alt="Marlborough Cruise Guide" class="case-study-image image-max-100 space-below-please" />

    <div class="max-1000 align-left space-below-please">
      <img src="{{ "/img/case-studies/cruise-guide-2.jpg" | prepend: site.baseurl }}" alt="Marlborough Cruise Guide on Android" class="case-study-image-right" />

      <h2 class="lowercase">The Challenge</h2>
      <p>Marlborough District Council (MDC) wanted to better understand how people use the Marlborough Sounds - so that they can continue to develop district plans, build facilities and deliver improved services to meet and protect the needs of their community.</p>
      <p>MDC asked Media Suite to turn a vast amount of data into an engaging and interactive app, providing boaties, holidaymakers and locals with a handy tool for making the most of their time in the Marlborough Sounds.</p>

      <h2 class="lowercase">Key Features</h2>
      <ul class="multi-col-list two-col-list">
        <li>Bays and safe anchorages</li>
        <li>Swimming spots</li>
        <li>Recreational areas</li>
        <li>Private and Club moorings</li>
        <li>Wharfs, jetties and boat ramps</li>
        <li>Toilets</li>
        <li>Picnic areas</li>
        <li>Water-filling facilities</li>
        <li>Petrol filling stations</li>
        <li>Live camera feeds</li>
        <li>Videos and 360-degree images</li>
        <li>Tide predictions for each bay</li>
        <li>Navigation warnings</li>
        <li>Buoys, lights and beacons</li>
        <li>Marine farms</li>
        <li>Navigational charts</li>
        <li>Topographical maps, including walking tracks</li>
        <li>Satellite and aerial Imagery</li>
        <li>Marine reserves</li>
        <li>Safe boating guides</li>
        <li>Fishing rules</li>
        <li>Marine biosecurity</li>
        <li>Emergency information</li>
        <li>Calendar of events</li>
        <li>Visitor information</li>
      </ul>

      <h2 class="lowercase">The Hurdles</h2>
      <p>Mobile coverage is patchy in the Sounds, so the app needed to work offline if needed. To solve this, we collected various nautical charts, aerial photographs and topographical maps, and stitched them together to create a tileserver which operates within the user’s device rather than over the internet (like Google Maps). </p>

      <p>We created a backend management system which augments approximately 25 open data sets with supplementary information contributed by MDC administrators and app users. When the app starts up, it pulls all the latest data through.</p>

      <p>The app has been deployed for both iOS and Android. We also created a mobile responsive website to cater for users who want to use a browser rather than download an App.</p>

      <p>Tidal information is usually limited to the main centres like Picton, so for boaties and travellers exploring the far reaches of the Sounds, tide times are often out by a significant margin. To combat this, we enabled the app to calculate tide offsets for each bay, meaning boaties can check the details of any bay without needing to do complex tidal offset calculations for every spot they intend to visit. Two years of tide predictions are downloaded to the device too, so app users don’t need to be connected to the internet to check the day’s tides.</p>

      <h2 class="lowercase">We Loved</h2>
      <p>The Media Suite team is proud of this project; the challenge of combining datasets, tackling user problems then using the same code base to convert the app into a website (<a href="http://www.cruiseguide.co.nz">www.cruiseguide.co.nz</a>) was deeply satisfying.</p>

      <p>We used an agile development process with a fixed budget and flexible scope to deliver the project in seven sprints of two weeks. We were proud of the number of features we managed to complete in a short amount of time.</p>

      <p>And of course we couldn't resist heading up to the Sounds in summer to &ldquo;test&rdquo; the app over a few beers, barbecue tongs in hand.</p>
    </div>

    {% include other-case-studies.html %}

  </div> <!-- .max-1200 -->

</div> <!-- #main-wrap -->
