---
layout: default
title: Case Studies | Data.govt.nz
casestudyname: Data.govt.nz
casestudyid: 10
image: /img/case-studies/data-1.jpg
excerpt: The front door to New Zealand’s open government data.
---
<div id="main-wrap" class="internal-page case-study">

  <div class="max-1200 align-center clearfix">
    <h1 class="underline-orange">data.govt.nz</h1>
    {% include crumbs.html %}
    <div class="case-study-intro max-1000">
      <p>The front door to New Zealand’s open government data.</p>
    </div>

    <div class="case-study-icons">
      <div class="case-study-tech">
        <span class="tech-icon tech-icon-js"><img src="{{ "/img/case-studies/tech-js.png" | prepend: site.baseurl }}" alt="" /></span>
        <span class="tech-icon tech-icon-html"><img src="{{ "/img/case-studies/tech-html-css.png" | prepend: site.baseurl }}" alt="" /></span>
        <span class="tech-icon tech-icon-silverstripe"><img src="{{ "/img/case-studies/tech-silverstripe.png" | prepend: site.baseurl }}" alt="" /></span>
        <span class="tech-icon tech-icon-ckan"><img src="{{ "/img/case-studies/tech-ckan.png" | prepend: site.baseurl }}" alt="" /></span>
      </div>
      <div class="case-study-platforms">
        <i class="icon icon-cog tip"></i>
      </div>
    </div>

    <img src="{{ "/img/case-studies/data-1.jpg" | prepend: site.baseurl }}" alt="eWater" class="case-study-image image-max-100 space-below-please" />

    <div class="max-1000 align-left space-below-please">

      <p>In 2017, the <a href="https://data.govt.nz/open-data/open-government-data-programme/open-data-action-plan/" target="_blank" rel="noopener noreferrer">New Zealand Open Data Action Plan</a> was released, focused on systemic change in the government’s data sharing.The plan aims to enable an open data environment to maximise the value of government data. Organisations will be equipped with the knowledge, the tools and the support to provide reputable, high quality open data as part of their business as usual operations.</p>

      <div class="standy-outy-text standy-outy-text--left">
        <p>Open government data must be publicly accessible, be reusable under an open license and must not contain personal information.</p>
      </div>

      <h2>Transparency, collaboration, resilience</h2>
      <p>As the lead agency for government data, Stats NZ is tasked with increasing the government’s data use capability, as part of a broader transition to a more open, transparent government. Cross-agency collaboration to overcome a number of challenges is pivotal to the plan’s success. For milestones to be met, organisations will need to work together, at pace. </p>
      <p>The programme aims to maximise the value of open government data by accelerating its release and reuse. Key to this plan is the usability and functionality of the data.govt.nz public-facing portal, and the data vault built behind it which catalogues and shares all open government data.</p>
      <p>Work to enhance and improve data.govt.nz is directed and managed by a <span class="tooltip-trigger">multi-agency public sector team<span class="tooltip-content">Both the government lead data agency (StatsNZ) and the government lead digital agency (Dept. of Internal Affairs) are working collaboratively on the data.govt.nz project</span></span>, working with Media Suite to ensure a robust, resilient national open data sharing system is in place.</p>

      <img src="{{ "/img/case-studies/data-2.jpg" | prepend: site.baseurl }}" alt="data.govt.nz on mobile" class="case-study-image-right" />

      <h2>A one stop shop for open government data</h2>
      <p>A secure, portable and scalable system for the discovery and sharing of data is a prerequisite for a successful open government data programme. New Zealand is an active member of the international open government data community, and <a href="https://www.digital.govt.nz/digital-government/international-partnerships/d7-group-of-digital-nations/" target="_blank" rel="noopener noreferrer">joins global leaders</a> in using the open source software, <a href="https://ckan.org/" target="_blank" rel="noopener noreferrer">CKAN</a>, on which many government data platforms are built.</p>
      <p>When open source software is used, it opens the door to international collaboration and knowledge sharing. Work done on data.govt.nz has been contributed back to the CKAN project, allowing users around the world to benefit.</p>
      <p>The data.govt.nz team decided to strengthen and improve the system to ensure it could handle a predicted rise in the reuse of open government data under the open data action plan. As the front door to discovering the nation’s open data, breaks within the system should be rare. When they occur, reliable monitoring is required to ensure issues are caught and fixed quickly. Media Suite’s developers worked quickly to make important improvements to the the data.govt.nz infrastructure - including features like the automated restarting of dropped services, and the automated end to end testing of key features.</p>

      <h2>A responsive approach</h2>
      <p>Public sector organisations typically undergo a long scoping and procurement process, often taking months, before being able to undertake projects with external vendors. Scopes of work can remain rigid and unresponsive to changing requirements, some of which would become redundant or dated before the work even begins.</p>
      <p>However, the data.govt.nz product proves it is possible for a multi-agency team to work in a continuous development cycle, where a flexible and adaptive approach is taken.</p>
      <p>Under the guidance of Media Suite, representatives from each stakeholder agency meet fortnightly, review the previous fortnight’s work and curate a set of tasks for the following two week cycle - following the responsive style favoured in software development, known as Agile. This process ensures the workstream is prioritised and agreed on by all parties, and allows the development team to respond to the needs of the product and the stakeholders quickly and efficiently. Two weeks from decision to completion is a refreshing change of pace for the agencies involved, and ensures the team is delivering the highest value items for end users, first.</p>
      <p>At Media Suite, we love partnering with the public sector to maximise value for spend. To facilitate this, DIA Product Owner for data.govt.nz Cam Findlay has been integrated as a core member of the team, working alongside our developers. Media Suite’s values of openness, collaboration and trust are reflected in our project approach.</p>

      <h2>A core value project</h2>
      <p>Media Suite has long been a champion of open data. Faster release of government data provides decision makers with the information they need to make better choices for New Zealand. When government data is made open, the public can scrutinise the performance of a transparent government, and play a larger role in important decisions. Informed participation leads to greater trust and confidence in the public sector.</p>
      <p>Being part of a national programme to enable and promote systemic change in data sharing practices and expectations, aligns perfectly with Media Suite’s core values. We leapt at the chance to participate as the software development vendor chosen from the All of Government Web Services Panel - of which we are a proud member.</p>

      <div class="quote-section clearfix">
        <img src="{{ "/img/case-studies/data-3.jpg" | prepend: site.baseurl }}" alt="Cam Findlay" class="quote-image" />
        <div class="quote-container">
          <h2 class="quote-heading">A true partnership</h2>
          <p class="quote-opening">Working with Media Suite has been just like having an in-house team. Instead of being kept at arm’s length as the product owner, being welcomed and working daily as one of the team has added incredible value.</p>
          <p>Fortnightly iterations means we’ve been able to quickly release valuable features for data.govt.nz users, and be responsive to the changing needs of the product (and of our users and of my own). The work we’ve recently completed on the robustness of data.govt.nz’s catalogue is paying off. We are seeing more use and interest from other agencies about incorporating our open data APIs into their government service delivery. It’s changing the way we’re thinking about doing digital services, with open data at the heart.</p>
          <p>Media Suite’s an open data-friendly business - which has meant we haven’t had to dumb down the technical data talk when working with them - a real added bonus. The developers themselves have also added a lot of value because we foster an environment that is open to them raising ideas and challenging me on approaches to problems - something I really appreciate.</p>
          <p class="quote-closing">
            <span class="quote-closing-text">Cam Findlay, Department of Internal Affairs Product Owner</span>
          </p>
        </div>
      </div>

      <div class="footnote">
        <p>This case study was written in collaboration with the Department of Internal Affairs and StatsNZ.</p>
        <a href="https://www.dia.govt.nz/" target="_blank" rel="noopener noreferrer" class="footnote-image"><img src="{{ "/img/case-studies/data-4.jpg" | prepend: site.baseurl }}" alt="DIA" /></a>
        <a href="https://www.stats.govt.nz/" target="_blank" rel="noopener noreferrer" class="footnote-image"><img src="{{ "/img/case-studies/data-5.jpg" | prepend: site.baseurl }}" alt="StatsNZ" /></a>
      </div>

    </div>

    {% include other-case-studies.html %}

  </div> <!-- .max-1200 -->

</div> <!-- #main-wrap -->
