---
layout: default
title: Case Studies | MyWorksites
casestudyname: MyWorksites
casestudyid: 7
image: /img/case-studies/mws-1.jpg
imageWidth: 1200
imageHeight: 670
excerpt: Media Suite partnered with roadworking authorities to build MyWorksites. This system operates in Christchurch and Auckland, managing roadworks end-to-end with minimal disruption for road users.
---
<div id="main-wrap" class="internal-page case-study">

  <div class="max-1200 align-center clearfix">
    <h1 class="lowercase underline-orange">MyWorksites</h1>
    {% include crumbs.html %}
    <div class="case-study-intro max-1000">
      <p>The roadworking management software that keeps Kiwis moving.</p>
    </div>

    <div class="case-study-icons">
      <div class="case-study-tech">
        <span class="tech-icon tech-icon-html"><img src="{{ "/img/case-studies/tech-html-css.png" | prepend: site.baseurl }}" alt="HTML/CSS" /></span>
        <span title="Ember" class="tech-icon tech-icon-ember"><img src="{{ "/img/case-studies/tech-ember.png" | prepend: site.baseurl }}" alt="Ember" /></span>
        <span title="Leaflet" class="tech-icon tech-icon-leaflet"><img src="{{ "/img/case-studies/tech-leaflet.png" | prepend: site.baseurl }}" alt="Leaflet" /></span>
        <span title="Node" class="tech-icon tech-icon-node"><img src="{{ "/img/case-studies/tech-node.png" | prepend: site.baseurl }}" alt="Node" /></span>
        <span title="Postgres" class="tech-icon tech-icon-postgres"><img src="{{ "/img/case-studies/tech-postgres.png" | prepend: site.baseurl }}" alt="Postgres" /></span>
      </div>
      <div class="case-study-platforms">
        <i class="icon icon-cog tip"></i>
      </div>
    </div>

    <img src="{{ "/img/case-studies/mws-1.jpg" | prepend: site.baseurl }}" alt="MyWorksites" class="case-study-image image-max-100 space-below-please" />

    <div class="max-1000 align-left space-below-please">

      <p>MyWorksites aims to realise efficiencies in managing and coordinating roadworks, while also minimising disruption for road users.</p>
      <p>The system handles the entire life cycle of roading projects including:</p>
      <ul>
        <li>Early collaboration: avoiding potential clashes between projects and discovering opportunities to work smarter.</li>
        <li>Permitting of roadworks under the Utilities Access Act.</li>
        <li>Processing and acceptance of Traffic Management Plans defined by the Code of Practice for Temporary Traffic Management.</li>
        <li>Coordination and mitigation of the cumulative impacts of roadworks.</li>
        <li>Detour route management.</li>
        <li>Situational awareness of planned events for real time operations.</li>
        <li>Notifications for affected parties such as public transport operators, parking services, traffic light controllers and emergency services.</li>
        <li>Public notification of roadworks via an API, informing services such as Google maps and <a href="https://www.journeys.nzta.govt.nz/home?redir=true" target="_blank">journeys.nzta.govt.nz</a>.</li>
        <li>Auditing and quality control of roadworks.</li>
        <li>Warranty of road repairs.</li>
        <li>Remote access for system users, allowing on-site updates and real time project information to be communicated.</li>
      </ul>

      <h2 class="lowercase">Background</h2>
      <p>MyWorksites <em>really</em> began in 2011 in post-quake Christchurch. On a flight from Auckland to Christchurch, Robyn Gardner (then of Christchurch City Council) quite literally sketched out her idea on the back of a napkin.</p>
      <p>TMP for Christchurch, as it was then called, was a system designed to process the Traffic Management Plans being submitted as part of the post-quake rebuild effort. The volume of TMPs had increased tenfold, almost overnight, and the existing paper-based systems at Christchurch City Council couldn’t cope as the repair effort got under way.</p>
      <p>Additionally, NZTA and CCC needed a way to help the public navigate a city now dominated by daily road changes due roadworks and associated disruption. The key to the original system’s success, was that it made the planned works of every company or organisation more transparent. This led to widespread collaboration in the industry and has been credited as one of the key tools that helped keep Christchurch moving post-quake - <a href="{{ "/img/pdfs/mws-case-study.pdf" | prepend: site.baseurl }}" target="_blank">but don’t just take our word for it</a>.</p>
      <p>Skip forward a few years, and MyWorksites was born in early 2016. Auckland Motorways partnered with Media Suite to rebuild the tool, with the vision that it would become a nationwide service.</p>
      <p>In 2017, Auckland Transport, representing the largest council in the Southern Hemisphere, added the management of its 7500 kilometres of roads to MyWorksites. A permitting and billing system was then added to the application.</p>
      <p>In 2018, the country’s second largest council joined the fold. Christchurch City Council transitioned from TMP for Christchurch, and Media Suite added a range of features including planning maps and global permitting.</p>

      <img src="{{ "/img/case-studies/mws-2.jpg" | prepend: site.baseurl }}" alt="MyWorksites screenshot" class="case-study-image image-max-100 space-below-please" />

      <h2 class="lowercase">Seeing the future</h2>
      <p>While MyWorksites provides an essential set of tools for everyone working on New Zealand roads, it also serves a higher purpose, providing a real time picture of a city’s roads and public spaces. This data can be used to minimise traffic congestion, plan for events that significantly impact the city’s traffic movement, and allow contractors across company and sector lines to collaborate before they dig.</p>
      <p>By sharing information, contractors could work together to reduce spend and minimise disruption. Using MyWorksites, expected roadworks (maintenance, planned works etc) could be scheduled years in advance. A clear picture of future works would assist councils to allocate budgets in long term plans, collaborate on larger works, and anticipate traffic impacts.</p>
      <p><strong>Register for a MyWorksites account <a href="https://manage.myworksites.co.nz" target="_blank">here</a>.</strong></p>

    </div>

    {% include other-case-studies.html %}

  </div> <!-- .max-1200 -->

</div> <!-- #main-wrap -->
