---
layout: default
title: Case Studies | Journeys
casestudyname: Journeys
casestudyid: 9
image: /img/case-studies/journeys-banner.jpg
excerpt: Journeys is a national system that pushes the boundaries of what current technology is capable of. It delivers targeted functionality to road user groups nationwide.
---
<div id="main-wrap" class="internal-page case-study">

  <div class="max-1200 align-center clearfix">
    <h1 class="lowercase underline-orange">Journeys</h1>
    {% include crumbs.html %}
    <div class="case-study-intro max-1000">
      <p>
        Journeys combines a range of technologies and data sources to provide a real-time road user service.
      </p>
    </div>

    <div class="case-study-icons">
      <div class="case-study-tech">
        <span class="tech-icon tech-icon-js"><img src="{{ "/img/case-studies/tech-js.png" | prepend: site.baseurl }}" alt="" /></span>
        <span class="tech-icon tech-icon-html"><img src="{{ "/img/case-studies/tech-html-css.png" | prepend: site.baseurl }}" alt="" /></span>
        <span class="tech-icon tech-icon-silverstripe"><img src="{{ "/img/case-studies/tech-silverstripe.png" | prepend: site.baseurl }}" alt="" /></span>
      </div>
      <div class="case-study-platforms">
        <i class="icon icon-desktop tip"></i>
        <i class="icon icon-cog tip"></i>
      </div>
    </div>

    <img src="{{ "/img/case-studies/journeys-banner.jpg" | prepend: site.baseurl }}" alt="" class="case-study-image image-max-100 space-below-please" />

    <div class="max-1000 align-left space-below-please">
      <p><a href="https://journeys.nzta.govt.nz" target="_blank">Journeys</a> delivers targeted functionality to key road user groups across the country, with a particular focus on urban commuters and commercial transport companies in and around main centres.</p>

      <p>The national system, developed in partnership with NZ Transport Agency, offers solutions to problems experienced in major cities and on arterial routes. It builds on Transport for Christchurch (TfC), which was rolled out in Canterbury post-quake.
        </p>

      <h2 class="lowercase">Taking it national</h2>
      <img src="{{ "/img/case-studies/journeys-mobile.jpg" | prepend: site.baseurl }}" alt="" class="case-study-image-right" />
      <p>
        Following the 2011 earthquake, increasing driver frustration sparked a collaboration between Media Suite and the Christchurch Transport Operation Centre.
      </p>
      <p>
        The first system of its kind in New Zealand, TfC aimed to advise road users of the ever-changing landscape as infrastructure in the city underwent large scale repair. Transport for Christchurch used three main data sources to provide road users with a real time information service. The original system pulled roadworks information from another Media Suite project, <a href="/case-studies/myworksites/">TMP for Christchurch</a>. It used GeoSmart data (now owned by the AA) to show congestion on main routes, and fed live traffic camera footage through the public-facing website.
      </p>
      <p>
        TfC proved popular, and in 2014 Transport for Wellington was created to offer the same package of features in the capital.
      </p>
      <p>
        In 2015, NZTA partnered with Media Suite to create the national system in use today, Journeys, which operates in main centres and on State Highways. Journeys offers a broad range of services, targeted at specific user groups.
      </p>

      <h2 class="lowercase">
          Information first
      </h2>

      <p>
        Journeys uses a range of technologies to support its features. It uses city-specific infrastructure to provide travel times, delay information and congestion indicators, as well as allowing regional authorities to manually update users on specific events or incidents. Users can view live traffic camera feeds along their route and across the region, as well as access a road-related regional news feed from NZTA.
      </p>

      <p>
        Existing monitoring technology gathers data on traffic speeds and travel times across the city. The data is recorded and filtered through Traffic Application Server (TAS) which normalises it and outputs it in a developer-friendly format.
      </p>

      <p>
        For example:
      </p>

      <ul>
        <li>
          Inductive loops placed under roads at intersections measure congestion levels as cars pass overhead.
        </li>
        <li>
          Radar and fibre optic cables monitor traffic speeds and volumes on Auckland motorways.
        </li>
        <li>
          Christchurch City Council’s 200 bluetooth sensors pick up unique identifiers from cellphones and log the time taken to travel from sensor to sensor, in order to map average travel times on main routes.
        </li>
      </ul>

      <p>
        Tools like Google Maps fill in the blanks wherever a city’s infrastructure is unable to provide a quality picture of road conditions. Systems such as the Traffic Road Event Information System (TREIS) provides information on incidents including weather events, crashes and detours. This information then updates road users through Journeys.
      </p>

      <p>
        Journeys will work in conjunction with <a href="/case-studies/myworksites/">MyWorksites</a>, using the system’s real time roadworks data to inform road users.
      </p>

      <img src="{{ "/img/case-studies/journeys-tablet.jpg" | prepend: site.baseurl }}" alt="" class="case-study-image image-max-100 space-below-please" />

      <h2 class="lowercase">
        making UX the hero
      </h2>

      <p>
        Media Suite specialises in User Experience and as a result of work done with NZTA in the road user space, is able to offer a set of functions through Journeys that maximise its usefulness. The system focuses on the following User Groups:
      </p>

      <ul>
        <li>
          Daily commuters using arterial routes, where services offered by Journeys could mean significant time savings on a daily basis.
        </li>
        <li>
          Commercial operators using the system to inform route decisions and minimise delays.
        </li>
        <li>
          Radio DJs requiring a simple, user-friendly stream of information that can be quickly communicated to road users travelling at peak traffic times.
        </li>
        <li>
          Homeowners interested in information about roadworks being done in their neighbourhood.
        </li>
      </ul>

      <h2 class="lowercase">
        We loved
      </h2>

      <p>
        Working on a national system that pushes the boundaries of what current technology is capable of. We had some lofty goals with this system and a lot of data to combine into a single platform with maximum functionality. By working in an extremely flexible and agile fashion, we were able to adapt the system to work with existing infrastructure, which varies city to city. The result is a comprehensive picture for road users and a handy tool for shaving valuable time off your daily commute.
      </p>

      <div class="quote-section clearfix">
        <img src="{{ "/img/case-studies/journeys-matt.png" | prepend: site.baseurl }}" alt="Matt Lang" class="quote-image" />
        <div class="quote-container">
          <h2 class="quote-heading lowercase">Technically Speaking</h2>
          <p class="quote-opening">To ensure we're showing up-to-date travel times and incident information we have 15 different data imports happening regularly, many of them every minute. For road events, such as roadworks and incidents, we combine 5 different datasets into a common model that will display consistently on the maps and detail-views across the site.</p>
          <p>Considering all of this data, the challenge then became how to surface the information that's relevant to an individual. This is how we settled on the idea of a journey planner. By providing the traveller with a simple interface to enter their journey, we can use spatial distances to find just the traffic impacts that will be relevant to their drive. We utilised the Google address search and navigation services to allow planning a journey, then augment the resulting directions with useful info on each route, including road closures, travel times, traffic cameras, and nearby electric vehicle charging stations.</p>
          <p class="quote-closing">
            <span class="quote-closing-text">Matt Lang, Technical Lead</span>
          </p>
        </div>
      </div>
    </div>

    {% include other-case-studies.html %}

  </div> <!-- .max-1200 -->

</div> <!-- #main-wrap -->
