---
layout: default
title: Case Studies | Transport for Christchurch
casestudyname: Transport for Christchurch
casestudyid: 1
image: /img/case-studies/tfc-1.jpg
excerpt: In the wake of the Canterbury earthquakes, Media Suite was engaged by the Christchurch Transport Operations Centre to develop a long-term, web-based communication channel for the travelling public in the greater Christchurch region.
---
<div id="main-wrap" class="internal-page case-study">

  <div class="max-1200 align-center clearfix">

    <h1 class="lowercase underline-orange">Transport for Christchurch</h1>
    {% include crumbs.html %}
    <div class="case-study-intro max-1000">
      <p>In the wake of the <span class="fancy-pants-font">Canterbury earthquakes</span>, Media Suite was engaged by the Christchurch Transport Operations Centre to develop a long-term, <span class="fancy-pants-font">web-based communication channel</span> for the travelling public in the greater Christchurch region.</p>
    </div>

    <div class="case-study-icons">
      <div class="case-study-tech">
        <span class="tech-icon tech-icon-html"><img src="{{ "/img/case-studies/tech-html-css.png" | prepend: site.baseurl }}" alt="" /></span>
        <span class="tech-icon tech-icon-node"><img src="{{ "/img/case-studies/tech-node.png" | prepend: site.baseurl }}" alt="" /></span>
        <span class="tech-icon tech-icon-ember"><img src="{{ "/img/case-studies/tech-ember.png" | prepend: site.baseurl }}" alt="" /></span>
        <span class="tech-icon tech-icon-leaflet"><img src="{{ "/img/case-studies/tech-leaflet.png" | prepend: site.baseurl }}" alt="" /></span>
      </div>
      <div class="case-study-platforms">
        <i class="icon icon-desktop tip"></i>
        <i class="icon icon-mobile tip"></i>
      </div>
    </div>

    <img src="{{ "/img/case-studies/tfc-1.jpg" | prepend: site.baseurl }}" alt="" class="case-study-image image-max-100" />
    <div class="image-caption max-1000">
    </div>

    <div class="max-1000 align-left space-below-please">
      <h2>The challenge</h2>
      <p class="space-below-please">Initially the availability of data was limited to roadworks and road closures however over the last 4 years Media Suite has worked with CTOC to develop strategies and tools for collecting, augmenting and communicating a broad range of traveller information to the public via a range of channels. </p>
      <img src="{{ "/img/case-studies/tfc-2.jpg" | prepend: site.baseurl }}" alt="" class="case-study-image image-max-100 space-below-please" />

      <h2>Many solutions</h2>
      <p class="space-below-please">The engagement with CTOC and NZTA has led us to develop tools for coordinating roadworks, broadcasting incidents, publishing to social media, measuring journey times and congestion as well as building APIs to open data to other developers. Many of these tools are now being utilised nationally.</p>

    </div>

    {% include other-case-studies.html %}

  </div> <!-- .max-1200 -->

</div> <!-- #main-wrap -->